[dir] .nx-theme-styles .nx-theme-form ntx-repeating-section .ntx-repeating-section-repeated-section:first-child .ntx-repeating-section-overlay {
    visibility: hidden;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}